#map {
  height: 500px;
}

#tableSection {
  display: none;
}

.input-group,
.input-group-btn {
  margin: 5px 0px;
}

body {
  padding-bottom: 100px;
}

.details {
  cursor: pointer;
}

.modal-body {
  img {
    width: 500px;
    display: block;
    margin: auto;
  }
}
